{% extends 'layout.html' %}

{% block page_content %}
<div class="">

    <form method="POST" enctype="multipart/form-data" action="/content/submission/{{courseId}}">
        <hr>
            <input type="hidden" name="courseId" value="{{courseId}}">
            <label for="assTitle"><b>Assignment</b></label>
                <input type="text" placeholder="Enter Assignment Title" name="assTitle" id="assTitle" required>
            <br><br>
            <label for="assDescription"><b>Description</b></label>
                <input type="text" placeholder="Enter Description" name="assDescription" id="assDescription" required>
            <br><br>
            <label><b>Upload Assignment Document</b></label>

        <input type="button" onclick="createPicker()" value="Load picker"/>

        <input type="hidden" id="fileUrl" name="fileUrl">

        <hr>
         <button type="submit" class="createAbtn" formmethod="post">Submit Assignment</button>
    </form>

</div>
{% endblock %}

{% block scripts %}

<script type="text/javascript">

    // The Browser API key obtained from the Google API Console.
    // Replace with your own Browser API key, or your own key.
    var developerKey = 'AIzaSyCsfJeKBYbBvDLOREZ21jT69DHsSW4bDoc';
    // The Client ID obtained from the Google API Console. Replace with your own Client ID.
    var clientId = "355461818608-3qtdksi036h1r5faf9eo16b7bbm34n5s.apps.googleusercontent.com"

    // Replace with your own project number from console.developers.google.com.
    // See "Project number" under "IAM & Admin" > "Settings"
    var appId = "355461818608";

    // Scope to use to access user's Drive items.
    var scope = ['https://www.googleapis.com/auth/drive'];

    var pickerApiLoaded = false;
    var oauthToken;

    // Use the Google API Loader script to load the google.picker script.
    function loadPicker() {
      gapi.load('auth', {'callback': onAuthApiLoad});
      gapi.load('picker', {'callback': onPickerApiLoad});
    }

    function onAuthApiLoad() {
      window.gapi.auth.authorize(
          {
            'client_id': clientId,
            'scope': scope,
            'immediate': false
          },
          handleAuthResult);
    }

    function onPickerApiLoad() {
      pickerApiLoaded = true;
      createPicker();
    }

    function handleAuthResult(authResult) {
      if (authResult && !authResult.error) {
        oauthToken = authResult.access_token;
        createPicker();
      }
    }

    // Create and render a Picker object for searching images.
    function createPicker() {
      if (pickerApiLoaded && oauthToken) {
        var view = new google.picker.View(google.picker.ViewId.DOCS);
        view.setMimeTypes("image/png,image/jpeg,image/jpg");
        var picker = new google.picker.PickerBuilder()
            .enableFeature(google.picker.Feature.NAV_HIDDEN)
            .enableFeature(google.picker.Feature.MULTISELECT_ENABLED)
            .setAppId(appId)
            .setOAuthToken(oauthToken)
            .addView(view)
            .addView(new google.picker.DocsUploadView())
            .setDeveloperKey(developerKey)
            .setCallback(pickerCallback)
            .build();
         picker.setVisible(true);
      } else {
          console.log('error here')
      }
    }

    // A simple callback implementation.
    function pickerCallback(data) {
      if (data.action == google.picker.Action.PICKED) {
        var fileId = data.docs[0].id;
        addFileUrlToForm(data.docs[0].url)        
        // alert('The user selected: ' + fileId);
      }
    }

    function addFileUrlToForm(url){
        let formField = document.querySelector("#fileUrl");
        formField.value = url;
    }
    </script>

    <script type="text/javascript" src="https://apis.google.com/js/api.js?onload=loadPicker"></script>

{% endblock %}